<ion-menu [content]="nav">
<ion-header>
  <ion-toolbar>Menu</ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>
      <button *ngIf="isAuthenticated" ion-item icon-left (click)="onLoad(tabsPage)">
        <ion-icon name="book"></ion-icon>
        Recipe
      </button>
      <button ion-item *ngIf="!isAuthenticated" icon-left (click)="onLoad(signinPage)">
        <ion-icon name="log-in"></ion-icon>
        Signin
      </button>
      <button ion-item *ngIf="!isAuthenticated" icon-left (click)="onLoad(signupPage)">
        <ion-icon name="person"></ion-icon>
        Signup
      </button>
      <button ion-item *ngIf="isAuthenticated" icon-left (click)="onLogout()">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
